html, body {
    height: 100%;
}

.container.body-content {
    height: 100%;
    position: relative;
    min-height: 500px;
}

.container.body-content > .jumbotron {
    height: calc(100% - 80px);
    margin-bottom: 15px;
    /*background-color: transparent;*/
}

body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    height: 50px;
}
footer hr {
    margin: 0 0 15px 0;
}

footer p {
    margin-bottom: 0px;
}

.page-cover-container {
    position: fixed;
    background-image: url('./loader.gif');

    height: 64px;
    width: 64px;
    top: 50%;
    left: 50%;
    margin-top: -32px; /*set to a negative number 1/2 of your height*/
    margin-left: -32px; /*set to a negative number 1/2 of your width*/
}